<% if current_user.qb_connected? %>
<div id="spaceTemplate" style="display:none">
  <div class="row">
    <form class="inline">
      <div class="span3">
        {{space_name}}
      </div>
      <div class="span4">
          <%= select_tag :qb_account_ref, collection: @qb_accounts, fields: [:name, :id], include_blank: '-> Select QB Income Account <-', required: true, class: "span4 qb-account-ref",  placeholder: "QuickBooks Income Account Id"%>
      </div>
      <div class="span2">
        <a class="add-space-link btn btn-small btn-primary" data-cobot_id="{{space_id}}" data-name="{{space_name}}">Enable</a>
      </div>
    </form>
  </div>
</div>
<% end %>

<% unless current_user.qb_connected? %>
<p>Nearly done. Please connect your account with your Quickbooks account next.</p>
  <ipp:connectToIntuit></ipp:connectToIntuit>
  <% content_for :js do %>
    intuit.ipp.anywhere.setup({
        menuProxy: '<%= base_url %>',
        grantUrl: '<%= base_url %>/quickbooks/auth'
    });
  <% end  %>
<% end %>
<% if current_user.qb_connected? %>
  <p id="text">These are the spaces you can connect with Quickbooks. Please select one.</p>

  <div id="spaces"></div>
  <% content_for :js do %>
    CobotFb.renderSpaces(<%= @spaces_json.html_safe %>, <%= @enabled_spaces_ids.html_safe %>);
  <% end %>
  <hr>
<% end %>

<% if @current_user.spaces.any? %>
  <p>These are your connected spaces:</p>
<% end %>

<div id="know-spaces">
  <% @current_user.spaces.enabled.each do |space| %>

  <div class="row">
    <div class="span9">
      <%= space.name %> <%= link_to 'Pause syncing', "/spaces/#{space.id}", class: "pause-sync-link btn btn-small btn-primary" %>
    </div>
  </div>
  <% end %>
</div>

<% if @current_user.spaces.disabled.any? %>
<hr>
  <p>These are spaces you have paused syncing:</p>
  <div id="know-spaces">
    <% @current_user.spaces.disabled.each do |space| %>
    <div class="row">
      <div class="span9">
        <%= space.name %> <%= space.name %> <%= link_to 'Resume syncing', "/spaces/#{space.id}", class: "resume-sync-link btn btn-small btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>




<% if @current_user.spaces.any? %>
<hr>
<% end %>

<h3>This is how it works</h3>
<p>After enabling Quickbooks for a space, your invoices will be automatically imported 7 days after their creation to Quickbooks. This ensures accuracy by giving you time to make any credits or changes in Cobot before we send the data to Quickbooks.</p>
<hr>

